.section-container {
  width: 100%;
  /* border: 2px dotted green; */
}
.list-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.pagination > button {
  padding: 5px 5px;
}

@media (max-width: 730px)
{
  .list-container
   {
    grid-template-columns: 1fr;
   }
}